.rows {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  width: 90%;
  max-width: 90rem;
  margin: 2rem auto;
  padding: 0.5rem;
}
.row1 {
  display: grid;
  grid-template-columns: 1fr 0.75fr;
  gap: 5rem;
  place-content: center;
  place-items: center;
  background-image: linear-gradient(
      rgba(190, 218, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("https://img.freepik.com/free-vector/set-famous-landmark-vectors_53876-77150.jpg?w=1800&t=st=1668018863~exp=1668019463~hmac=38bbf57836ddebe707c3e824d83303ba0d1914750fdd1cab1af6506e38b7b080");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 1rem;
}

.col2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.video {
  width: 80%;
  height: 14rem;
}
.dropdown {
  width: 70%;
}
.searchUni {
  width: 90%;
}

.searchForm {
  display: flex;
  justify-content: space-between;
}
