.bgSec {
  display: grid;
  place-items: center;
  position: absolute;
  width: 100%;
  margin-top: 5rem;
  height: calc(100vh - 5rem);
  background-color: var(--off-white);
}
.content {
  width: 90%;
  max-width: 90rem;
  display: grid;
  gap: 1.5rem;
  margin: auto;
  place-items: center;
  place-content: center;
  border-radius: 1rem;
  padding: 2em 1em;
  height: 100%;
  align-content: space-evenly;
  color: var(--p-navy);
  text-align: center;
}
.contentInfo {
  width: 100%;
}
.titles {
  font-size: clamp(1.5rem, 4vw, 2rem);
  margin-bottom: 2rem;
}

.countriesContent {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}
.country {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-top: 1rem;
  display: flex;
  place-items: center;
  place-content: center;
  position: relative;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in;
  font-weight: 600;
}
.country:hover {
  box-shadow: 0 0 4px 1px var(--p-navy);
}
.country:active {
  box-shadow: inset 0 0 0px 2px var(--p-navy);
}
.country::after {
  content: attr(data-label);
  position: absolute;
  top: -40%;
  left: calc(- 50%);
}
.foot {
  display: none;
}
@media (min-width: 968px) {
  .content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    color: var(--white) !important;
  }
  .bgSec {
    background: linear-gradient(
      -135deg,
      rgba(116, 159, 255, 1) 0%,
      rgba(116, 159, 255, 0.8) 20%,
      rgba(116, 159, 255, 0.6) 40%,
      rgba(116, 159, 255, 0.4) 60%,
      rgba(116, 159, 255, 0.2) 80%,
      rgba(116, 159, 255, 0) 100%
    );
  }
  .video {
    height: 300px !important;
  }

  .countriesContent {
    margin-bottom: 14rem;
  }
  .foot {
    display: flex;
    width: 100%;
    height: 5rem;
    justify-content: center;
    gap: 20%;
    max-width: 40rem;
    place-content: center;
    place-items: center;
  }
  .icon {
    background-color: var(--warning-hover);
    border-radius: 50%;
    padding: 0.5em 0.75em;
    position: relative;
  }
  .label {
    position: absolute;
    text-align: center;
    font-size: 0.9rem;
    width: 100%;
    top: -50%;
    width: 10rem;
    left: -65%;
    color: var(--p-navy);
    font-weight: bold;
  }
  .country:hover {
    box-shadow: 0 0 4px 1px var(--white);
  }
  .country:active {
    box-shadow: inset 0 0 0px 2px var(--white);
  }
}
