.loginContent {
  user-select: none;
  width: 50%;
  max-width: 45rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  margin: auto;
  box-shadow: 0px 0px 5px 0px rgba(174, 105, 243, 0.382);

  border-radius: 1rem;
  padding: 2em 1em;
}
.loginSide,
.loginForm {
  animation: animate 0.66s;
}
.loginSide img {
  width: 100%;
  max-width: 15rem;
  height: auto;
}
.slider {
  display: none;
  justify-self: center;
  background-color: rgba(107, 178, 255, 0.1);
  height: 15vh;
  width: 70%;
  position: absolute;
  bottom: 20px;
  left: 15%;
  border-radius: 0rem;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media (min-width: 968px) {
  .loginContent {
    grid-template-columns: 0.5fr 1fr;
  }
  .slider {
    display: block;
  }
}
