.content {
  background-color: #fff;
  height: 90.8vh;
  display: grid;
  grid-template-areas: 'form';
  align-items: center;
  margin-top: 4em;
  row-gap: 0;
}

.formRow {
  grid-area: form;
  justify-self: center;
  width: 80%;
  max-width: 60rem;
}
.sideBar {
  display: none;
  background-image: url('../assets/images/register.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right top;
}

.sideInfo {
  width: 100%;
  color: rgb(12, 69, 102);
  text-align: center;
  margin-bottom: 2em;
}

.form {
  padding: 1em 0.75em;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px 0px rgb(212, 237, 232);
}
.formTitle {
  color: rgb(12, 69, 102);
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
}

@media (min-width: 968px) {
  .content {
    margin-top: 5rem;
    grid-template-columns: 0.25fr 1fr;
    grid-template-areas:
      'side form'
      'side form'
      'side form';
  }
  .sideBar {
    grid-area: side;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 13rem;
    height: 100%;
    background-color: rgba(0, 94, 255, 0.6);
  }
}
